{{ define "main" }}
    <section class="lg:flex lg:justify-center">
        <div class="bg-white dark:bg-gray-800 lg:mx-8 lg:flex lg:max-w-4xl">
            <div class="lg:w-1/2">
                <div class="h-64 bg-contain lg:rounded-lg lg:h-full bg-no-repeat" style="background-image:url('https://gist.githubusercontent.com/thedivtagguy/8e85339c023c68abc503954fb2b3f155/raw/68beb978ba504b2bcc2f606785263108d3952ce0/compile.svg')"></div>
            </div>

            <div class="py-12 px-16 max-w-xl lg:max-w-5xl lg:w-1/2">
                <h2 class="text-2xl text-gray-800 dark:text-white font-bold md:text-3xl">1. Collect Your <span class="text-indigo-600 dark:text-indigo-400">Files</span></h2>
                <p class="mt-4 text-gray-600 dark:text-gray-400">Compile the files you'd like to share in a single folder. These must be files related to a single project only, and may include the final output, reflections and documentation, artwork, code and scripts etc. These files should be able to convey the core of your project's core concepts and give future readers a clear explanation of what you made and provide enough reference material for further work.</p>
               
            </div>
            
        </div>
        
    </section> 
    <section class="lg:flex lg:justify-center pb-10">
        <div class="bg-white dark:bg-gray-800 lg:mx-8 lg:flex lg:max-w-4xl">
           

            <div class="py-12 px-6 max-w-xl lg:max-w-5xl lg:w-1/2">
                <h2 class="text-2xl text-gray-800 dark:text-white font-bold md:text-3xl">2. Upload to <span class="text-indigo-600 dark:text-indigo-400">Google Drive</span></h2>
                <p class="mt-4 text-gray-600 dark:text-gray-400">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem modi reprehenderit vitae exercitationem aliquid dolores ullam temporibus enim expedita aperiam mollitia iure consectetur dicta tenetur, porro consequuntur saepe accusantium consequatur.</p>
                
                <div class="mt-8">
                    <a href="#" class="bg-gray-900 text-gray-100 px-5 py-3 font-semibold rounded hover:bg-gray-800">Start Now</a>
                </div>
            </div>
            <div class="lg:w-1/2">
                <div class="h-64 bg-contain bg-no-repeat lg:rounded-lg lg:h-full" style="background-image:url('https://gist.githubusercontent.com/thedivtagguy/76c47c553f73f954863d19b42d2d857c/raw/645ad6ba2d89fac1c75e15b643dd1b5a4f0e9b18/upload.svg')"></div>
            </div>
        </div>
        <br>
    </section> 
{{ end }}