<section class="text-gray-700 body-font">
    <div class="px-8 py-8 mx-auto lg:px-4">
        <div class="flex flex-col w-full mb-8 text-left lg:text-center">
            <h1 class="my-8 font-bold text-black text-4xl text-center">
                Anshuman Bhargava Website
            </h1>
            <p class="mx-auto -mt-4 text-base font-medium leading-relaxed text-gray-700 lg:w-2/3 sm:px-8">
                A crowdsourced archival repository of projects and assignments done by students of Srishti. Filterable and searchable by tools used, majors, years and units.
            </p>
        </div>
        <div class="lg:flex sm:block lg:justify-center">
            <div class="pl-10 mb-4">
                <a href="/submit">
                    <button class="px-16 py-4 font-semibold text-white transition duration-500 ease-in-out bg-red-600 rounded-lg hover:bg-red-800 lg:text-lg sm:text-sm">
                        Submit Your Project
                    </button>
                </a>
            </div>
            <div class="px-2">
                {{- partial "searchbar.html" . -}}
            </div>
        </div>
</section>